
<style type="text/css" media="screen">

  #editor {
    margin-top: 10px;
    padding: 0px;
    position: absolute;
    top: 10px;
    left: 0;
    height:350px;
    right: 0;
  }

  /* we can/should add this to the main style sheet when it is created*/
</style>
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 col-sm-10 col-xs-10">
      <!-- THEME:
      <select id="theme">
        <option value="twilight" selected>twilight</option>
        <option value="solarized_light">solarized light</option> 
        I can add a lot more themes here if we want to keep this feature
      </select>-->
        <div id="editor">
        </div>
      </p>
    </div>
    <div class="col-lg-4 col-md-2 col-sm-2 col-xs-2" id="code-duel-HUD">
      <p>Room: {{roomname}}<br>
      <button ng-click="reset()" class="btn btn-md btn-danger">Reset</button>
      <button ng-click="submit()" class="btn btn-md btn-danger">Submit</button>
      <br />
      <div class="clock"></div>
      <div class="well" ng-show="noOpponent">
        Your prompt will appear when your opponent joins the room. Ask a friend to join this room to duel!
      </div>
      <div class="well" ng-show="finishBeforeOpponent" ng-hide="!finishBeforeOpponent">
        Your score is {{score}}.<br />Waiting on your opponent to finish...
      </div>
      <div class="well" ng-show="victory">
        YOU HAVE WON! <br />
        Your score: {{score}}<br />
        Your opponent's score: {{isWinner.opponentScore}}
      </div>
      <div class="well" ng-show="defeat">
        YOU HAVE LOST! <br />
        Your score: {{score}}<br />
        Your opponent's score: {{isWinner.opponentScore}}
      </div>
      </p>
  </div>
</div>
